/* .active .carousel-item{
    border: 3px solid red;
    text-align: center;
    padding-top: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.carousel-container{
    /* background-color: #222831; */
    width: 600px;
    height: 350px;
}

.custom-slide-item{
    padding: 0 40px;
    /* border: 3px solid green; */
    background-color: #222831;
    height: 350px;
    border-radius: 20px;

}

.custom-slide{
    background-color: #222831;
    text-align: center;
    /* border: 3px solid red; */
}

/* .carousel-control-prev-icon{
    background-image: url('../../../img/Reading/back.png') ;
}
.carousel-control-prev-icon {
    background-image: url();
} */
/* .custom-prev-icon{
    color: red;
    background-color: blue ;
} */

/* .customx{
    padding: 75px 0 40px 40px;
} */

