.word-box{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.word-container{
    background-color: #32E0C4;
    color:#222831;
    border-radius: 30px;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    padding: 10px 20px;
}

.word-container span{
    margin-right: 0.1rem;
}
.word-actions button img ,.word-actions img{
    width: 30px;
    margin: 0 10px ;
}

.word-actions button{
    background: none;
    border: none;
}

.word-new, .word-mean{
    width: 30%;
}