.words-section{
    display: flex;
    flex-direction: column;
}
.words-content{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 80px);
    justify-content: space-evenly;
}

.words-content p{
    font-size: 2rem;
}

.study-option{
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.vocabulary-option , .review-option{
    width: 450px;
    height: 300px;
    background-color:#2f3f50 ;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
    cursor: pointer;

}
.vocabulary-option:hover , .review-option:hover{
    background-color:#212c38 ;


}

.vocabulary-option img , .review-option img{
    width: 80px;

}
