.words-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.words-content{
    min-height: calc(100vh - 80px);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.words-content p{
    font-size: 2rem;
}

.study-option{
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.vocabulary-option , .review-option{
    width: 450px;
    height: 300px;
    background-color:#2f3f50 ;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
    cursor: pointer;

}
.vocabulary-option:hover , .review-option:hover{
    background-color:#212c38 ;
}

.vocabulary-option img , .review-option img{
    width: 80px;
}

.vocabulary-open ,.review-open{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    
}

.review-open p{
    color:#222831;
}

.btn-back-container{
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.modal-add-position{
    position: fixed;
    top: 95px ;
    left: 300px;
}

.info-container{
    padding: 0 24%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* .my-modal{
  position: absolute;
  top: 20%;
} */