.speaking-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.speaking-content{
    min-height: calc(100vh - 80px);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 400px;
    text-align: center;
    font-size: 1.5rem;
    /* background-image: url('../../../img/wallhaven-zmzpwy_1920x1080.png');
    background-size: cover; */
    /* background-color: #222831; */
    color: #222831;
}

.speaking-content img{
    width: 150px;
}

/* Boton */
.btn-custom {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
   .btn-custom:active,
   .btn-custom:hover {
    outline: 0;
   }
   
   .btn-custom span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   .btn-custom:hover span {
    background: none;
   }
   
   .btn-custom:active {
    transform: scale(0.9);
   }

   /* Audio File */
   .input-audio-file {
    
    background-color: #E5B8F4;
    color: #222831;
    /* border: 2px solid red; */
    border-radius: 5px;
  }


   .input-audio-file::-webkit-file-upload-button {
    /* font-size: 16px; */
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    background-color: #58287F;
    color: #fff;
    border: none;
    border-radius: 5px;
    /* padding: 5px 10px; */
  }

  .input-audio-file::-webkit-file-upload-button:hover{
    background-color: #810CA8;

  }