/* 
===============================================================
Login Styles
===============================================================
*/

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #f9f9f9;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 550px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.login-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 80%;
}

.login-container form h2{
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
}


/* 
=======================
Inputs
=======================
*/

.input-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.input-box input{
    outline: none;
    padding: 0.375rem 0.75rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 2px solid #ced4da;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out;
}

.input-box input:focus{
    border-color: rgb(69, 222, 171);
    outline: 0;
}



/* 
=======================
Forgot pass
=======================
*/

.forgot-pass{
    width: 100%;
    text-align: left;
}

/* 
=======================
Buttons
=======================
*/
.btn-sign-in{
    width: 100%;
    border-radius: 7px;
    border:none;
    background-color: rgb(69, 222, 171);
    min-height: 30px;
}
.btn-sign-in:hover{
    background-color: rgb(59, 187, 145);
}
.btn-sign-in:active{
    background-color: rgb(69, 222, 171);
}

/* 
=======================
Social Sign In
=======================
*/
.social-sign-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.google-sign-in{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    margin-top: 0.2rem;

    padding: 0.375rem 0.75rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 2px solid #ced4da;
    border-radius: 0.5rem;
    transition: background-color 0.15s ease-in-out;
}

.google-sign-in:hover{
    background-color: #f2f1f1;
}

.google-sign-in img{
    width: 20px;
}

/* 
=======================
Alerts
=======================
*/
.alert-container{
    width: 100%;
    min-height: 30px;
}
.alert-warning{
    color: #b51f2e;
    background-color: #f7d1d5;
    border-color: #DC3545;
    text-align: center;
}