
.header-container{
    padding: 0.2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    font-size: 1.5rem;
    width: calc(100% - 250px);
    height: 80px;
}