
/* 
===============================================================
Logo
===============================================================
*/

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo span{
    font-size: 3rem;
    font-family: "CustomFont-MS-E";
}

.logo img{
    width: 1.5rem;
}
/* 
=======================
For landing Page
=======================
*/
.logo-landing{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-landing span{
    font-size: 15rem;
    font-family: "CustomFont-MS-E";
}

.logo-landing img{
    width: 10rem;
}