*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "CustomFont-MS-T" , sans-serif;
}

@font-face {
    font-family: "CustomFont-MS-T";
    src: url("./fonts/more_sugar_font/MoreSugar-Thin.otf");
}
@font-face {
    font-family: "CustomFont-MS-R";
    src: url("./fonts/more_sugar_font/MoreSugar-Regular.otf");
}
@font-face {
    font-family: "CustomFont-MS-E";
    src: url("./fonts/more_sugar_font/MoreSugar-Regular.otf");
}

/* 
===============================================================
Buttons : Pruebas
===============================================================
*/

/* button{
    width: 200px;
    border-radius: 7px;
    border:none;
    background-color: #1CAF9A;
    height: 30px;
    color: #ffff;
}
button:hover{
    background-color:  #158373;
}
button:active{
    background-color: #1CAF9A;
} */
